@font-face {
  font-family: Hack NF;
  src: url(Hack-Regular.ttf);
  font-weight: bold;
}

body {
  min-width: 395px;
  min-height: 371px;
  background: #131313;
}

/* Rectangle 3 */

/* among us */

.rectangle3 {
  box-sizing: border-box;

  position: absolute;
  width: 395px;
  height: 317px;
  left: 0px;
  top: 0px;

  background: #131313;
  border: 1px solid #2F2F2F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* CookieCutter */

.CookieCutter {
  position: absolute;
  width: 232px;
  height: 37px;
  left: 108px;
  top: 45px;
  font-family: 'Hack NF';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}

/* Github icon */

.GitIcon {
  position: absolute;
  width: 38px;
  height: 36px;
  left: 13px;
  top: 325px;
  
  filter: invert(91%) sepia(0%) saturate(2%) hue-rotate(226deg) brightness(96%) contrast(95%);
}

/* CookieCutter icon */

.CookieIcon {
  position: absolute;
  width: 47px;
  height: 47px;
  left: 55px;
  top: 40px;
}

/* Version box */

.VersionBox {
  position: absolute;
  width: 86px;
  height: 30px;
  left: 298px;
  top: 329px;

  background: #D9D9D9;
  border-radius: 6px;
}

/* Version Text */

.VersionText {
  position: absolute;
  width: 78px;
  height: 17px;
  left: 297px;
  top: 334px;

  font-family: 'Hack NF';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;

  color: #000000;
}


/* Switch */

 /* The switch - the box around the slider */
 .switch {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 98px;
  top: 136px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 90px;
  width: 90px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #086F12;
  outline: 4px solid #328300;
  
}

input:focus + .slider {
  box-shadow: 0 0 1px #086F12;
}

input:checked + .slider:before {
  -webkit-transform: translateX(100px);
  -ms-transform: translateX(100px);
  transform: translateX(100px);
}

/* Rounded sliders */
.slider.round {
  background-color: #6F0808;
  outline: 4px solid #830000;
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
} 